:root {
    --brown: #BF925A;
    --light-brown: #BFAB93;
    --dark-brown: #735134;
    --white:#F2F2F2;
--gray:#A6A6A6;
--black: black;
--green: #D5F26D;;
}

* {
    margin: 0;
  }

  body {
    background-color: var(--light-brown);
        font-family: Arial, sans-serif;
    
    }


#class-title {
   font-family: "Bowlby One SC", sans-serif;
   text-transform: uppercase;
   letter-spacing: .5px;
   font-size: 20px;
    
}

header {
    background-color: var(--dark-brown);
    padding: 10px;
    border-bottom: 2px solid black; 
    text-align: center;
}


h1 {

    color: var(--white);
    letter-spacing: 1px;
    text-shadow: 2px 2px black;
   
}

#projects {
    padding: 30px;
    background-color: var(--light-brown);
    border-top: 2px solid black;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    pointer: cursor;
    color: var(--dark-brown);
    
}

a:hover {
    color: var(--white);
}

#name {
    background-color: var(--brown);
    color:#D5F26D;
    padding: 60px;
text-align: center;
font-family: "Archivo Black", sans-serif;
font-size: 35px;

}

h4 {
    font-size: 30px;
    padding-top: 3px;
    font-family: "Archivo Narrow", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    


}