:root {
  /* --neutral: tan;
  --base-100: white;
--neutral-focus: black;
--accent: blue;
--secondary: rgb(184, 184, 250); */
--mustard: #D9A443;
--light-brown: #A6662E;
--brown: #8C512E;
--base-white: #F2F2F2;
--base-black: #0D0D0D;


}

* {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  text-align: center;
  background-color: var(--mustard);
}

h1, 
h2,
h3,
h4,
h5,
h6 {
font-family: "BBH Hegarty", sans-serif;
} 

h1 {
  font-size: 60px;
}

#welcome-section {
background-color: var(--light-brown);
color: var(--base-100);
display: flex;
flex-direction: column;
}

#navbar {
display: flex;
justify-content: center;
position: fixed;
top: 0;
width: 100%;
background-color: var(--brown);
padding: 20px 0px;
font-size: 30px;
border-bottom: 2px solid var(--base-black);
color: var(--base-white)
}

.nav-links {
  display: flex;
  list-style: none;
  font-family: "DM Sans", sans-serif;

}

.nav-links a {
  text-decoration: none;
  color: var(--base-100);
  padding: 0 10px;
}

.nav-links a:hover {
  text-decoration: underline;

}

section {
  min-height: 100px;
  padding: 70px 0;

}

#welcome-section h1 {
  margin-top: 30vh;
}

#welcome-section p {
  color: var(--base-white);
font-size: 25px;
margin: 25px 0;

}

#welcome-section {
  border-bottom: 3px solid var(--base-white);
}

#projects .project-tile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#projects .project-tile {
height: 525px;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background-color: var(--brown);
color: var(--base-white);
border-radius: 5px;
box-shadow: 8px 8px 10px 5px rgba(53, 24, 0, 0.4);
text-decoration: none;
}

#projects h1 {
  width: fit-content;
  margin: auto;
  font-family: "BBH Hegarty", sans-serif;
  padding-bottom: 30px;
  }


#projects .projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
gap: 30px;
padding: 20px;
place-items: center;
max-width: 1200px;
margin: auto;

}

#projects {
  background-color: var(--mustard);
  color: var(--base-black);

}

#projects .project-tile p {
  font-size: 25px;
  padding: 10px;
}

#projects .project-tile span {
opacity: 0%;
padding: 0 5px;
}

#projects .project-tile:hover span {
opacity: 100%;
color: var(--base-white);
transition: opacity 0.25s ease-in;
}

.show-all {
  text-decoration: none;
  width: max-content;
  display: flex;
  align-items: center;
  margin: auto;
  padding: 0px 15px;
  background-color: var(--light-brown);
  border: 3px solid black;
  color: var(--base-100);
  font-size: 25px;
  border-radius: 5px;
  cursor: pointer;
transition: background-color 0.2s ease in;
}


.show-all:hover {
  background-color: var(--base-black);
  color: var(--base-white);
}

#contact {
  background-color: var(--light-brown);
  color: var(--base-100);
  border-top: 3px solid var(--base-white);
}

#contact h1 {
  margin-top: 100px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

#contact .coffee-question {
  color: var(--mustard);
font-size: 30px;
margin: 25px 0;
font-style: italic; 
font-family:Georgia, 'Times New Roman', Times, serif, sans-serif
}

#contact .social-media {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  justify-content: space-around;
  margin: auto;
  margin-top: 30px;
}

#contact .social-media {
  text-decoration: none;
  color: var(--base-100);
  transition: transform 0.2s ease-in;
  display: flex;
  align-items: center;
  margin: 20px;
  font-size: 22px;
}

#contact .social-media:hover {
  transform: translateY(10px);
}

footer {
  border-top: 3px solid var(--base-white);
  color: var(--base-white);
  font-size: 25px;
padding: 30px;
background-color:#8C512E;
}

@media only screen and (width < 700px) {
  h1 {
    font-size: 50px;
  }
  #projects .project-tile {
    height: 600px;
    width: 100%;
  }
}