:root {
    --penguin-face: white;
    --penguin-picorna: orange;
    --penguin-skin: gray;
    --penguin-skin-dark: rgb(51, 51, 50);
  }
  
  body {
    background: linear-gradient(to bottom, #f19bfc, #d5f1ff 35%);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .left-mountain {
    width: 300px;
    height: 300px;
    background: linear-gradient(2deg, pink, hsl(290, 94%, 87%), rgb(49, 1, 52));
    position: absolute;
    transform: skew(0deg, 44deg);
    z-index: 2;
    margin-top: 100px;
  }
  
  .back-mountain {
    width: 300px;
    height: 300px;
    background: linear-gradient(2deg, pink, hsl(290, 94%, 87%), rgb(49, 1, 52));
    position: absolute;
    z-index: 1;
    transform: rotate(45deg);
    left: 110px;
    top: 225px;
  }
  
  .sun {
    width: 200px;
    height: 200px;
    background-color: rgb(247, 217, 110);
    position: absolute;
    border-radius: 50%;
    top: -75px;
    right: -75px;
 filter: blur(10px);
  }
  
  .penguin {
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 75px;
    z-index: 4;
    position: relative;
    transition: transform 1s ease-in-out 0ms;
  }
  
  .penguin * {
    position: absolute;
  }
  
  .penguin:active {
    transform: scale(1.5);
    cursor: not-allowed;
  }
  
  .penguin-head {
    width: 50%;
    height: 45%;
    background: linear-gradient(
      45deg,
      var(--penguin-skin),
      var(--penguin-skin-dark)
    );
    border-radius: 70% 70% 65% 65%;
    top: 10%;
    left: 25%;
    z-index: 1;
  }
  
  .face {
    width: 60%;
    height: 70%;
    background-color: var(--penguin-face);
    border-radius: 70% 70% 60% 60%;
    top: 15%;
  }
  
  .face.left {
    left: 5%;
  }
  
  .face.right {
    right: 5%;
  }
  
  .chin {
    width: 90%;
    height: 70%;
    background-color: var(--penguin-face);
    top: 25%;
    left: 5%;
    border-radius: 70% 70% 100% 100%;
  }
  
  .eye {
    width: 15%;
    height: 17%;
    background-color: black;
    top: 45%;
    border-radius: 50%;
  }
  
  .eye.left {
    left: 25%;
  }
  
  .eye.right {
    right: 25%;
  }
  
  .eye-lid {
    width: 150%;
    height: 100%;
    background-color: var(--penguin-face);
    top: 25%;
    left: -23%;
    border-radius: 50%;
  }
  
  .blush {
    width: 20%;
    height: 20%;
    background-color: pink;
    filter: blur(2px);
    top: 55%;
    border-radius: 50%;
  }
  
  .blush.left {
    left: 15%;
  }
  
  .blush.right {
    right: 15%;
  }
  
  .beak {
    height: 10%;
    background-color: var(--penguin-picorna);
    border-radius: 50%;
    border: 1px solid black;
  z-index: 1;
  }
  
  .beak.top {
    width: 20%;
    top: 60%;
    left: 40%;
    z-index: 2;
  }
  
  .beak.bottom {
    width: 16%;
    top: 65%;
    left: 42%;
  }
  
  .shirt {
    font: bold 45px Helvetica, sans-serif;
    top: 150px;
    left: 115px;
    z-index: 1;
border: 1px solid black;
  }
  
  .shirt div {
top: 20px;
    left: 12px;
  }
  
  .penguin-body {
    width: 53%;
    height: 45%;
background-image: linear-gradient(90deg, var(--penguin-skin-dark) 10%, var(--penguin-skin) 20%, white 30%, white 70%, var(--penguin-skin) 80%, var(--penguin-skin-dark) 90%);
    border-radius: 80% 80% 100% 100%;
    top: 40%;
    left: 23.5%;
    border: 1px solid black;
  }
  
  .penguin-body::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 60%;
    background-color: rgb(245, 139, 233);
    border: 1px solid rgb(57, 0, 67);
    top: 20%;
    left: 25%;
    border-radius: 0% 0% 100% 100%;
    opacity: 70%;
    box-shadow: 1px 1px;
  }
  
  .arm {
    width: 30%;
    height: 60%;
    background: linear-gradient(
      90deg,
      var(--penguin-skin),
      var(--penguin-skin-dark)
    );
    border-radius: 30% 30% 30% 120%;
    z-index: -1;
    border: 1px solid black;
  }
  
  .arm.left {
    top: 35%;
    left: 5%;
    transform-origin: top left; 
    transform: rotate(130deg) scaleX(-1);
    animation: 3s linear infinite wave;
  }
  
  .arm.right {
    top: 0%;
    right: -5%;
    transform: rotate(-45deg);
  }
  
  @keyframes wave {
    10% {
      transform: rotate(110deg) scaleX(-1);
    }
    20% {
      transform: rotate(130deg) scaleX(-1);
    }
    30% {
      transform: rotate(110deg) scaleX(-1);
    }
    40% {
      transform: rotate(130deg) scaleX(-1);
    }
  }
  
  .foot {
    width:  15%;
    height: 30%;
    background-color: var(--penguin-picorna);
    top: 85%;
    border-radius: 50%;
    z-index: -1;
    border: 1px solid black;
  }
  
  .foot.left {
    left: 25%;
    transform: rotate(80deg);
  }
  
  .foot.right {
    right: 25%;
    transform: rotate(-80deg);
  }
  
  .ground {
    width: 100vw;
    height: calc(100vh);
    background: linear-gradient(90deg, rgb(214, 241, 247), rgb(227, 148, 249), rgb(214, 241, 247));
    z-index: 3;
    position: absolute;
    margin-top: -58px;
    
  }