:root {
    --white: white;
    --text: black;
    --pale: hsl(32, 37%, 92%);
    --green: hsl(5, 73%, 58%);
    --header-text: hsl(212 21% 14%);
    --nav-bar: hsl(5 73% 92%);
  }
  
  * {
    margin: 0;
  }
  
  body {
  background-color: var(--pale);
  }
  
  #header-img {
  width: 60px;
  height: 40px;
  object-fit: contain;
  align-items: left;
  }

 
  
  #nav-bar {
    display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  border: 2px solid var(--green);
  background-color: var(--nav-bar);
  padding: 10px;
  color: var(--green);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  
  .nav-links {
    display: flex;
    list-style: none;
  }

  .nav-links a {
    text-decoration: none;
    color: var(--green);
    font-style: bold;
    padding: 0 10px;
  }

  .logo-container {
    display: flex;
    align-items: left;

  }

  .the-product {
    font-size: 37px;
    margin-left: 10px;
    font-weight: 700;
    font-family: montserrat;
    padding-bottom: 40px;
  }

  input {
padding: 8px;
border-radius: 5px;
border: 2px solid var(--green);
  }

  #submit {
    background-color: var(--green);
    color: var(--white);
    cursor: pointer;
  }

  h2 {
    font-family: "fraunces";
    margin-bottom: 10px;
    margin-top: 50px;
  }

  .icon {
   color: var(--green);
   margin-right: 30px;
  }

  #features {
text-align: left;
max-width: 800px;
margin: auto;
  }

  .feature {
    display: flex;
    align-items: center;
    justify-content: left; 
    margin: 20px;
    font-family: "montserrat";
  }

  #video {
    width: 100%;
  }

.product-image {
    width: 100%;
    margin: auto;
    height: 400px;
    background-repeat: no-repeat;
background-size: cover;
border: 1px solid var(--text);
border-radius: 10px 10px 0 0;
}

.product1 {
    background-image: url(https://mpd-biblio-covers.imgix.net/9781466804128.jpg?w=600&dpr=2);
margin-left: 10px;
  }

.product2 {
    background-image: url(https://mpd-biblio-covers.imgix.net/9781466805064.jpg?ixlib=imgixjs-4.0.1&w=1246);
    margin-left: 10px;
  }

.product3 {
    background-image: url(https://m.media-amazon.com/images/I/51IXWZzlgSL._SY445_SX342_FMwebp_.jpg);
    margin-left: 10px;
  } 

.card {
    background-color: var(--nav-bar);
    border-radius: 30px;
    border: 1px solid var(--green);
    width: 100%;
    margin: auto;
    margin-bottom: 20px;

}

.inner-card {
display: flex;
flex-direction: column;
justify-content: space-around;
padding: 20px;
}

.content {
    font-family: "montserrat";
    color: var(--text);
    margin-bottom: 30px;

}

.flex {
    display: flex;
    align-items: 10px;

}

.main-price {
    margin-right: 20px;
    font-size: 30px;
    font-family: "fraunces";
    color: var(--green);
}

.old-price {
    text-decoration: line-through;
    color: var(--text);
    font-size: 20px;
}

.author {
    font-family: "montserrat";
    letter-spacing: 5px;
    color: var(--text);
    text-transform: uppercase;
}

.header {
    font-family: "fraunces";
    margin: 10px 0;
    color: var(--header-text);
    margin-top: 20px;
    margin-bottom: 5px;

}


.add {
    background-color: var(--green);
    cursor: pointer;
    padding: 15px;
    border: none;
    border-radius: 10px,
    width: 100%;
    color: var(--white);
    font-family: "montserrat";
    font-weight: bold;
    margin-bottom: 10px;
}

#email-section {
    margin-top: 100px;

  }

  h2 {
    color: var(--green);
    font-size: 40px;
  }

  h3 {
    color: var(--green);
    font-size: 80px;
    margin-bottom: 30px;
  }
  section::before {
    display: block;
    content: " ";
    margin-top: 10px;
    height: 100px;
    visibility: hidden;
    pointer-events: none;

  }

  section {
    margin: 40px 20px;
text-align: center;  
}

@media only screen and (min-width: 600px) {
    #nav-bar [
        flex-direction: row;
    ]
}

@media only screen and (450px < width < 600px) {
    .card {
        font-size: 0.85rem;
    }
    .product-image {
        height: 400px;
    }
}

@media only screen and (450px <= width) {
    .card {
        display: flex;
        max-width: 525px;
    }
    .inner-card {
        width: 300px;
        padding: 20px;
    }
    .product-image {
        height: 400px;
        border-radius: 10px 0 0 10 px;
    }
}

@media only screen and (width >= 1000px) {
    @video {
        width: 70%;
    }
    .product-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}